@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.tableContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.architecturesTable {
  width: 80%;
  border-radius: 6px;
  border-collapse: collapse;
  overflow: hidden; /* Ensure the border radius is applied correctly */
}
.headButtons{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.addArch {
  padding: 8px;
  font-size: 16px;
  border-radius: 6px;
  font-weight: 600;
  border: none;
  background-color: #1b1b1b;
  color: rgb(255, 255, 255);
  box-shadow: none;
  text-decoration: none;
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.addNew {
  padding: 8px;
  font-size: 16px;
  border-radius: 6px;
  font-weight: 600;
  border: none;
  background-color: #1b1b1b;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  position: relative;
  right: 0;
}

.architecturesTable thead {
  height: 5vh;
  color: white;
  background-color: #1b1b1b;
  border-radius: 1px;
}


.architecturesTable tr {
  border-bottom: 1px solid #31313179;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 5vh;
  text-align: center;
}
.architecturesTable thead p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.tbody a {}
