.window {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo{
  width: 15rem;
}



.loginForm {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  width: 300px;
}

.loginForm label {
  display: block;
  color: #333;
  margin-bottom: 5px;
  font-weight: bold;
}

.loginForm input {
  width: 93%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.loginForm button {
  width: 100%;
  padding: 10px;
  background-color: #131313;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.loginForm button:hover {
  background-color: rgb(7, 7, 7);
}
.loginForm a{
  text-align: center;
  display: block;
  width:93%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
.error {
  color: #d9534f;
  margin-bottom: 20px;
  font-size: 14px;
}

.secondary-button {
  background-color: #e6e6e6;
  color: #333;
  margin-top: 10px;
}

.secondary-button:hover {
  background-color: #cccccc;
}
