.nodedetailscard {
  position: absolute;
  bottom: 10px;
  right: 10px;
  min-width: 300px;
  padding: 20px;
  background: #131313;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  color: white;
}

.nodedetailscard button {
  margin-bottom: 10px;
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
}

.nodedetailscard form {
  display: flex;
  flex-direction: column;
}

.nodedetailscard form div {
  margin-bottom: 10px;
}

.nodedetailscard form label {
  margin-bottom: 5px;
}

.nodedetailscard form input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.formgroup {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.checkboxGroup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.checkboxLabel {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 14px;
}

.hiddenCheckbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.customCheckbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 20px;
}

.checkboxLabel:hover input ~ .customCheckbox {
  background-color: #ccc;
}

.checkboxLabel input:checked ~ .customCheckbox {
  background-color: #2196F3;
}

.customCheckbox:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxLabel input:checked ~ .customCheckbox:after {
  display: none;
}

.checkboxLabel .customCheckbox:after {
  left: 7px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.scheduler {
  height: 30vh;
  width: 100%;
  background-color: #131313;
  position: fixed;
  bottom: 0;
  color: white;
}

.tabs {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

.tabs button {
  background-color: #131313;
  padding: 15px;
  margin-left: 20px;
  border: none;
  color: white;
  border-radius: 10px;
}

.tabs button:hover {
  background-color: #333333;
  cursor: pointer;
}

.dataHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
